@model MusicForum.Models.Discussion

@{
    ViewData["Title"] = "Discussion Details Page";
    string imageUrl = Url.Content("/photos/" + Model.ImageFileName);
}


<div class="container mt-5">
    <div class="row justify-content-center">

        
        <div class="col-12 col-md-9 text-center">
            <div class="card shadow-sm">
                <div class="card-header">
                    <h4 class="discussion-title"> @Html.DisplayFor(model => model.Title)</h4>
                    <img src="@imageUrl" alt="Discussion Image" class="img-fluid rounded shadow mt-lg-4" style="width: 400px; height: 400px; object-fit: cover; margin: auto;"  />

                    <p class="card-subtitle text-muted mt-1 mb-3" style="font-size: small;">
                        <i class="fa-regular fa-calendar"></i> Created @Model.CreateDate.ToString("MMM d yyyy")
                    </p>
                    @if (Model.ApplicationUser != null)
                    {
                        <div class="d-flex align-items-center mb-3">
                            <div>
                                @if (!string.IsNullOrEmpty(Model.ApplicationUser.ImageFilename))
                                {

                                <a asp-controller="Home" asp-action="Profile" asp-route-id="@Model.ApplicationUser.Id" class="text-decoration-none">
                                <img src="~/profile_img/@Model.ApplicationUser.ImageFilename" alt="@Model.ApplicationUser.Name" class="rounded-circle me-2" style="width: 75px; height: 75px; object-fit: cover;" /> </a>
                                }
                            </div>
                            <div>
                                <a asp-controller="Home" asp-action="Profile" asp-route-id="@Model.ApplicationUser.Id" class="text-decoration-none">
                                    <p class="card-subtitle text-muted mb-0" style="font-size: small;">Thread by: @Model.ApplicationUser.Name</p>
                                </a>
                                @if (Model.ApplicationUser.FavouriteAlbum != null)
                                {
                                    <p class="card-subtitle text-muted" style="font-size: small;">
                                        Favourite Album: <span class="text-primary">@Model.ApplicationUser.FavouriteAlbum <i class="fa-solid fa-music"></i></span>
                                    </p>
                                }
                            </div>
                        </div>

                    }
                </div>
                <div class="card-body text-start">
                    
                    <p>@Html.DisplayFor(model => model.Content)</p>
                </div>
            </div>

            <div class="comments-section">
                <h5 class="discussion-title"><i class="fa-solid fa-comment"></i> Comments</h5>
                <div class="comments-content">
                    @if (Model.Comments != null && Model.Comments.Any())
                    {
                        foreach (var comment in Model.Comments)
                        {
                            <div class="card mt-3">
                                <div class="card-body">
                                    <p>@comment.Content</p>
                                    <p>@comment.CreateDate</p>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <p>No comments yet. Be the first to comment!</p>
                    }

                    
                </div>
            </div>

            <div class="mt-3 text-center">
                <a asp-controller="Comments" asp-action="Create" asp-route-id="@Model.DiscussionId" class="create-button button">Add Comment</a>
            </div>
        </div>
    </div>
</div>
