@model IEnumerable<MusicForum.Models.Discussion>

@{
    ViewData["Title"] = "Index";
}

<div class="home-header">
    RPM<br />

</div>
<p>
    Share your thoughts & ideas
    <hr />
</p>
<div class="create-button">
    <button class="create-button" onclick="location.href='@Url.Action("Create")'">Create New</button>
</div>
<br />


<div class="main-content">
    
    <div class="main-content">
        @foreach (var discussion in Model) {

            string imageUrl = Url.Content("/photos/" + discussion.ImageFileName);
            <div class="discussion-row">
            <div class="thumbnail">
                <img src="@imageUrl" class="form-thumbnail" alt="@discussion.Title" />
            </div>
            <div class="discussion-title">
                @Html.DisplayFor(modelItem => discussion.Title)
            </div>
            <div class="discussion-content">
                @Html.DisplayFor(modelItem => discussion.Content)
            </div>
          
            <div class="discussion-created">
                @Html.DisplayFor(modelItem => discussion.CreateDate)
                    <br />
            </div>
            
            <div class="create-button">
                    <button onclick="location.href='@Url.Action("Edit", new { id = discussion.DiscussionId })'">Edit</button>
                </div>
            
            <div class="create-button">
                    <button onclick="location.href='@Url.Action("Delete", new { id = discussion.DiscussionId })'">Delete</button>
                </div>
        </div>
}
    </div>
</div>
