@model IEnumerable<MusicForum.Models.Discussion>

@{
    ViewData["Title"] = "Index";
}

<div class="home-header">
    RPM<br />

</div>
<p>
    Share your thoughts & ideas
    <hr />
</p>
<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="main-content">
    
    <div class="main-content">
        @foreach (var discussion in Model) {

            string imageUrl = Url.Content("/photos/" + discussion.ImageFileName);
            <div class="discussion-row">
            <div class="thumbnail">
                <img src="@imageUrl" class="form-thumbnail" alt="@discussion.Title" />
            </div>
            <div class="discussion-title">
                @Html.DisplayFor(modelItem => discussion.Title)
            </div>
            <div class="discussion-content">
                @Html.DisplayFor(modelItem => discussion.Content)
            </div>
          
            <div class="discussion-created">
                @Html.DisplayFor(modelItem => discussion.CreateDate)
                    <br />
            </div>
            
            <div class="mb-lg-3">
                <a asp-action="Edit" asp-route-id="@discussion.DiscussionId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@discussion.DiscussionId">Delete</a>
            </div>
        </div>
}
    </div>
</div>
