@model IEnumerable<MusicForum.Models.Discussion>

@{
    ViewData["Title"] = "Index";
}

<h1 class="mb-3">Discuss Music</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageFileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var discussion in Model) {

            string imageUrl = Url.Content("/photos/" + discussion.ImageFileName);
            <tr>
            <td>
                <img src="@imageUrl" class="img-fluid" alt="@discussion.Title" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => discussion.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => discussion.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => discussion.ImageFileName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => discussion.CreateDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@discussion.DiscussionId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@discussion.DiscussionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
